SECRET_KEY
DEBUG
ALLOWED_HOSTS
CORS_ALLOW_ALL_ORIGINS
CORS_ALLOWED_ORIGINS
FRONTEND_URL
BREVO_API_KEY
BREVO_SENDER_EMAIL
BREVO_SENDER_NAME
BREVO_API
BREVO_TEMPLATE_ID
STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET
CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
DB_NAME
DB_USER
DB_HOST
DB_PASSWORD
DB_PORT
